.profile-dropdown {
    border: 1px grey solid;
    border-radius: 5%;
    background-color: #a9bacb;
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    padding: 16px;
    font-size: 1rem;
    color: #c70039;
    position: absolute;
    z-index: 500;
    right: 0;
    margin-right: 29px;
}

.modal-item:hover{
  cursor: pointer;
}

.hidden{
    display: none
}

.manage-spot-link{
    border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  list-style: none;
  padding: 5px 0px 5px 0px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.logout-button{
    background-color: #b5264e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;  
  padding: 5px;
  font-size: 12px;
}